.appNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2d3142;
  width: 100%;
  height: 70px;
  padding: 5px 20px;
}

.appLogo img {
  height: 50px;
  margin-left: 20px;
}

/* Navigation options */
.navOptions {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 70px;
  left: -100%;
  background-color: #4f5d75;
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.open {
  left: 0;
}

.navOptions li {
  list-style: none;
  margin: 11px;
  padding: 0;
}

.navOptions li a {
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;
  color: #ffffff;
  padding: 4px 8px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.navOptions li a:hover {
  border-top: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
}

/* toggle button */
.burgerBtn {
  display: block;
  cursor: pointer;
}

.burgerBtn span {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* wider screen view */
@media (min-width: 768px) {
  .navOptions {
    position: static;
    display: flex;
    flex-direction: row;
    width: auto;
    background-color: transparent;
  }
  .navOptions li {
    margin: 0px 5px;
  }

  .burgerBtn {
    display: none;
  }
}
