* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #d3d3d3;
  font-family: "Montserrat", serif;
  font-optical-sizing: auto;
}

.active {
  border-top: 2px solid #000080;
  border-bottom: 2px solid #000080;
}
